<h1 class="text-primary text-center" style="margin: 50px 0px;">Realizar pedido de "{{producto.nombre}}"</h1>
<div class="container">
  <img src="../../assets/img/300.png" alt="placeholder" class="center">
  <div [ngSwitch]="producto.origen" style="margin-top: 20px;">
    <h4 class="text-success text-center" *ngSwitchCase="0">Origen: China</h4>
    <h4 class="text-success text-center" *ngSwitchCase="1">Origen: Japon</h4>
    <h4 class="text-success text-center" *ngSwitchCase="2">Origen: Corea</h4>
  </div>
  <h4 class="text-warning text-center">Precio: S/.{{producto.precio}}</h4>
  <h5 class="text-danger text-center">Popularidad: {{producto.nEstrellas}}</h5>
</div>
<form class="text-center">
  <div class="form-inline text-center justify-content-center">
    <h5 style="margin: 40px 20px;">Cantidad</h5>
    <input class="form-control" type="number" name="cantidad" id="cantidadInput" [(ngModel)]="cantidad" min="1">
  </div>
  <h4 class="text-danger">Total: {{cantidad * producto.precio}}</h4>
  <button type="button" class="btn btn-primary" style="margin: 10px 0px;" (click)="realizarPedido()">Confirmar pedido</button>
</form>