<h2 class="text-primary subtitle">Todas las tiendas</h2>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" style="margin: 30px 0px;">
      <li class="page-item {{estadoPrevPag}}"><a class="page-link" href="" (click)="goPrev()">Página anterior</a></li>
      <li class="page-item"><a class="page-link" href="" (click)="goNext()">Siguiente página</a></li>
    </ul>
  </nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm" *ngFor="let tienda of tiendas; index as i">
      <div class="card">
        <img src="https://loremflickr.com/300/300?random={{i + (n*page)}}" alt="placeholder" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{tienda.nombre}}</h5>
          <p class="card-text">{{tienda.descripcion}}</p>
          <a class="btn btn-info" (click)="gotoTienda(tienda)">Visitar</a>
        </div>
      </div>
    </div>
  </div>
</div>